body{
    background-image: url("food_bg.jpg");
    background-size: 100% auto;
    font-family: 'Ruda', sans-serif;
    font-size:20px;

    /* font-family: "Lucida Console", Courier, monospace; */
}

.text{

    /* text-align: center; */
    font-family: "Lucida Console", Courier, monospace;
    /* color:#ad9d9d; */
    color:#504343;
    font-size:20px;
    padding: 10px
}